@font-face{
    font-family:Lato;
    font-style:normal;
    font-weight:500;
    src:url(../singolo/assets/fonts/Lato/Lato-Light.ttf) 
    }
 @font-face{
    font-family:Lato-bold;
    font-style:normal;
    font-weight:500;
    src:url(../singolo/assets/fonts/Lato/Lato-Black.ttf) 
    }   

body{
    margin: 0;
    width: 1020px;
}
.logotipeDarkLine{
    background-color: #2d303a;
    height: 89px;
}
.singoloLable{
    font-size: 24px;
    line-height: 6px;
    color: #ffffff;
    font-family: "Lato";
    position: absolute;
    margin: 41px 0 0 40px;
    text-transform: uppercase;
    letter-spacing: 0.1px;
    
}
.star{
    color: #f06c64;
}
.navigationBar{
    margin: 0 20px 0 400px;
}
.flexContainer{
    display: flex;
    position: absolute;
}
.navigationBar ul{    
    margin: 40px 0 0 154px;
}
li{
    list-style-type: none;
}
.navigationBar .headerButton{
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    margin: 15px;
    text-transform: uppercase;
    font-size: 12px;
    font-family: "Lato";
    font-weight: 700;
    letter-spacing: -0.1px;
}
/* .navigationBar a:hover{
    color: #f06c64;
} */

.headerButton.active{
    
    color: #f06c64;
}
.headerButton:not(.active):hover{
    cursor: pointer;
    color: #f06c64;
} 



.lineDark{
    height:  6px;
    background-color: #323746;
}
.sliderRedBody{
    height: 594px;
    background-color: #f06c64;
}
.iphoneVertical{
    width: 215px;
    height: 459px;
    position: absolute;
    margin: 52px 0 0 112px;
    box-shadow: 25px 25px 0 #ce5d56;
    border-radius: 28px;
    background-image: url(../singolo/assets/images/verticalPhone.png);
    background-size: 215px 459px
}
.iphoneHorizontal{
    width: 458px;
    height: 215px;
    position: absolute;
    margin: 174px 0 0 425px;
    box-shadow: 26px 25px 0px 0px #ce5d56;
    border-radius: 28px;
    background-image: url(../singolo/assets/images/HorizontalPhone.png);
    background-size: 458px 215px;
}
.leftBar{
    width: 40px;
    height: 40px;
    position: absolute;
    margin: 274px 0 0 30px;
    cursor: pointer;
    transition: all 0.5s;
    background: url(../singolo/assets/images/chev.png);
    background-repeat: no-repeat;
    background-position: center;
}
.leftBar:hover{
    background: url(../singolo/assets/images/leftBar.png);
    background-repeat: no-repeat;
    background-position: center;
}
.rightBar{
    width: 40px;
    height: 40px;
    margin: 274px 0 0 952px;
    position: absolute;
    cursor: pointer;
    transition: all 0.5s;
    background: url(../singolo/assets/images/right.png);
    background-repeat: no-repeat;
    background-position: center;
}
.rightBar:hover{
    background: url(../singolo/assets/images/rightDark.png);
    background-repeat: no-repeat;
    background-position: center;
}
.redLine{
    height: 14px;
    background-color: #ea676b;
}
.services{
    height: 494px;
    background-color: #f2f2f2;
}
.servicesHeading{
    margin: 43px 0 0 40px;
    position: absolute;
}

.ourServices{
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato-bold";
    letter-spacing: -0.2px;
}
.ourSrvicesText{
    width: 940px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    margin: 27px 0;    
    text-align: justify;
}
.services .flexContainer{
    margin: 219px 0 0 40px;
    flex-wrap: wrap;
    width: 1020px;
}
.containerItem{
    display: flex;
    height: 123px;
    width: 319px;
}
.flexMainText{
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato-bold";
    margin: -1px 0 0px 18px;
    letter-spacing: -0.1px;
}
.flexText{
    width: 217px;
    height: 128px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 700;
    margin: 10px 0 0 19px;
    word-spacing: 1px;
    text-align: justify;
    word-wrap: break-word
}
.image{
    margin-bottom: auto;
}
.lineWhite{
    width: 1020px;
    height: 6px;
    background-color: #ffffff;
}
.portfolio{
    width: 1020px;
    height: 863px;
    background-color: #2d303a;
}

.portfolioLable{
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato-bold";
    position: absolute;
    margin: 68px 0 0 40px;
    letter-spacing: -0.1px;
}
.portfolioText{
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    margin: 113px 0 0 40px;
    position: absolute;
}
.buttons{
    margin: 155px 0 0 40px;
    padding: 0;
    
}
.buttons a{
    border-radius: 5px;
    background-color: #0f0f0f;
    border: 1px solid #666d89;
    text-decoration: none;
    margin: 0 9px 0 0;
    font-size: 12px;
    font-family: "Lato";
    font-weight: 700;
    
    line-height: 22px;
    color: #767e9e;
}
 
.buttons a.active{
    color: #c5c5c5;
    background-color: #2d303a;
}
.buttons a:not(.active):hover{
    color: #c5c5c5;
    background-color: #2d303a;
}


.a1{
    padding: 3px 7px 2px 8px;
}
.a2{
    padding: 3px 6px 2px 8px;
}
.a3{
    padding: 3px 6px 2px 7px;
}
.a4{
    padding: 3px 6px 2px 8px;
}
.imagesStack{
   margin: 195px 0 0 40px;
    flex-wrap: wrap;
    width: 950px;
    height: 610px;
}  
.img:nth-child(n+13) {
    display: none;
    width: 0;
    height: 0;
}
.img{
    margin: 0px 10px 0px 5px;
    
}
.image1{
    width: 220px;
    height: 187px;
    background-image: url(../singolo/assets/images/Project\ \(11\).png);
    background-position-x: -8px;
    background-position-y: -11px;
    background-size: 238px 238px;
}
.image2{
    width: 220px;
    height: 187px;
    background-image: url(../singolo/assets/images/Project\ \(8\).png);
    background-position-x: -82px;
    background-position-y: -43px;
    background-size: 364px 273px;
}
.image3{
    width: 220px;
    height: 187px;
    background-image: url(../singolo/assets/images/Layer\ 9.png);
    background-position-x: -11px;
    background-position-y: -1px;
    background-size: 250px 304px;
}
.image4{
    width: 220px;
    height: 187px;
    background-image: url(../singolo/assets/images/Project\ \(1\).png);
    background-position-x: -24px;
    background-position-y: -2px;
    background-size: 262px 196px;
}
.image5{
    width: 220px;
    height: 187px;
    background-image: url(../singolo/assets/images/Project\ \(10\).png);
    background-position-x: -10px;
    background-position-y: -16px;
    background-size: 242px 276px;
}
.image6{
    width: 220px;
    height: 187px;
    background-image: url(../singolo/assets/images/Project\ \(7\).png);
    background-position-x: -16px;
    background-position-y: -4px;
    background-size: 258px 194px;
}
.image7{
    width: 220px;
    height: 187px;
    background-image: url(../singolo/assets/images/Layer\ 11.png);
    background-position-x: -31px;
    background-position-y: -39px;
    background-size: 372px 372px;
}
.image8{
    width: 220px;
    height: 187px;
    background-image: url(../singolo/assets/images/Layer\ 8.png);
    background-position-x: -24px;
    background-position-y: -32px;
    background-size: 278px 278px;
}
.image9{
    width: 220px;
    height: 187px;
    background-image: url(../singolo/assets/images/Project\ \(9\).png);
    background-position-x: -16px;
    background-position-y: -2px;
    background-size: 254px 191px;
}
.image10{
    width: 220px;
    height: 187px;
    background-image: url(../singolo/assets/images/Project\ \(3\).png);
    background-position-x: -141px;
    background-position-y: -113px;
    background-size: 474px 663px;
}
.image11{
    width: 220px;
    height: 187px;
    background-image: url(../singolo/assets/images/Project\ \(2\).png);
    background-position-x: -144px;
    background-position-y: 238px;
    background-size: 414px 413px;
}
.image12{
    width: 220px;
    height: 187px;
    background-image: url(../singolo/assets/images/Project.png);
    background-position-x: -36px;
    background-position-y: 365px;
    background-size: 296px 425px;
}
.darkLine{
    width: 1020px;
    height: 6px;
    background-color: #323746;
}
.aboutUs{
    width: 1020px;
    height: 728px;
    background-color: #f2f2f2;
}
.aboutUsHeading{
    margin: 43px 0px 0px 40px;
    position: absolute;
}
.aboutUsLable{
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato-bold";
    word-spacing: -0.5px
}
.aboutUsText{
    width: 950px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    margin: 27px 0px 0px 0px;
    word-spacing: 1.05px;
}
.adepts{
    display: flex;
    position: absolute;
    margin: 218px 0 0 40px;
    flex-wrap: wrap;
    width: 1020px;
    height: 155px;
    position: absolute;
}
.fotoFace1{
    width: 300px;
    height: 300px;
    background-image: url(../singolo/assets/images/photo\ \(2\).png);
    margin: 0px 19px 0 0px;
}
.fotoFace2{
    width: 300px;
    height: 300px;
    background-image: url(../singolo/assets/images/photo\ \(1\).png);
    margin: 0px 21px 0 0px;
}
.fotoFace3{
    width: 300px;
    height: 300px;
    background-image: url(../singolo/assets/images/photo.png);
}
.name{
    width: 300px;
    height: 30px;
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato-bold";
    margin: 17px 0px 0 -1px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

}
.aboutMe1{
    width: 300px;
    font-size: 12px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 600;
    margin: -2px 0px 0 -1px;
    word-spacing: 0.7px;
    line-height: 180%;
}

.aboutMe2{
    width: 300px;
    font-size: 12px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 600;
    margin: -2px 0px 0 1px;
    word-spacing: 2.4px;
    line-height: 180%;
}
.aboutMe3{
    width: 300px;
    font-size: 12px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 600;
    margin: -2px 0px 0 -1px;
    word-spacing: 1.7px;
    line-height: 180%;
}
.fb{
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: absolute;
    margin: 20px 6px 0 -3px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../singolo/assets/images/Facebook.png);
}
.fb:hover{
    background-image: url(../singolo/assets/images/facebook\ \(1\).png);
    background-repeat: no-repeat;
    background-position: center;

}
.google{
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: absolute;
    margin: 20px 0px 0 37px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../singolo/assets/images/Google.png);
}
.google:hover{
    background-image: url(../singolo/assets/images/google+.png);
}
.twitter{
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: absolute;
    margin: 20px 0px 0 77px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../singolo/assets/images/Twitter.png);
}
.twitter:hover{
    background-image: url(../singolo/assets/images/twitter\ \(1\).png);
}
.linkedIn{
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: absolute;
    margin: 20px 0px 0 117px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../singolo/assets/images/LinkedIn.png);
}
.linkedIn:hover{
    background-image: url(../singolo/assets/images/linkedin\ \(1\).png);
}
.whiteLine{
    width: 1020px;
    height: 6px;
    background-color: #ffffff;
}
body{
    margin: 0;
    width: 1020px;
}
.getAQuote{
    width: 1020px;
    height: 648px;
    background-color: #f06c64;
}
.redLine{
    width: 1020px;
    height: 6px;
    background-color: #ea676b;
}
.getAQuoteLable{
    font-size: 30px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato-bold";
    font-weight: 600;
    text-align: left;
    margin: 68px 0px 0px 40px;
    display: inline-block;
    letter-spacing: -0.1px;
    word-spacing: -0.5px;
}
.getAQuoteText{
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 300;
    text-align: justify;
    margin: 20px 0px 0px 40px;
    display: inline-block;
}
.grid{
    display: grid;
    grid-template-columns: 630px 390px;
    margin: 47px 0px 0px 40px;
}
.inputs{
    cursor: pointer;
    width: 604px;
    height: 38px;
    border-radius: 5px;
    border: 0px solid #d6564f;
    background-color: #d6564f;
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    margin: 0px 0px 16px 0px;
    padding: 0px 0px 0px 15px;
    letter-spacing: 0.1px;
}
.inputsTextArea{
    cursor: pointer;
    width: 604px;
    height: 195px;
    border-radius: 5px;
    border: 0px solid #d6564f;
    background-color: #d6564f;
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato";
    font-weight: 400;
    flex-wrap: wrap;
    padding: 7px 0px 0px 15px;
    resize: none;
    letter-spacing: 0.1px;
    word-spacing: 0px;
    }
::-webkit-input-placeholder { 
    color: #f48c8f; 
}
.contactText{
    width: 299px;
    height: 92px;
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 400;
    text-align: justify;
    margin: 10px 0px 0px 10px;
    word-wrap: break-word;
    
}
.contactHead{
    font-size: 18px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    margin: 0px 0px 0px 10px;
    letter-spacing: 0.5px;
    word-spacing: 0px;
}
.contactsTable{
    margin: 16px 0px 0px 6px;
    padding: 0;
}
.contactsTable li{
    list-style-type: none;
    display: flex;
    height: 21px;
}
.string3{
    margin: 3px 0px 0px 0px;
}
.contactsTable a{
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    margin: 0px 0px 0px 7px;
    cursor: pointer;
    text-decoration: none;
}
.location{
    background-image: url(../singolo/assets/images/location.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
}
.location:hover{
    background-image: url(../singolo/assets/images/location\ \(1\).png);
}
.phone{
    background-image: url(../singolo/assets/images/phone\ \(1\).png);
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
}
.phone:hover{
    background-image: url(../singolo/assets/images/phone\ \(2\).png);
}
.mail{
    background-image: url(../singolo/assets/images/mail.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
}
.mail:hover{
    background-image: url(../singolo/assets/images/mail\ \(1\).png);
}
.contactsList:hover{
    color: #000000;
}
.submit{
    margin: 0px 0px 0px 7px;
}
.redLineBottom{
    width: 1020px;
    height: 6px;
    background-color: #ea676b;  
}

.footerSide{
    width: 1020px;
    height: 76px;
    background-color: #2d303a;
    display: inline-block;
}
.footerLable{
    font-size: 12px;
    line-height: 30px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
    display: inline-block;
    margin: 23px 0px 0px 42px;
    word-spacing: 0.8px;
}
.gridFooter{
    display: grid;
    grid-template-columns: 827px 190px;
}
.contactsAllFooter{
    margin: -2px 0px 0px 0px;
}

.slide2{
    position: absolute;
    background-color: #482fb8;
}
.iphoneVerticalActiveScreen{
    width: 189px;
    height: 333px;
    background-color: #000000;
    position: absolute;
    margin: 118px 0 0 126px;
}
.opacity{
    opacity: 0;
}
.iphoneVerticalActiveZone{
    width: 47px;
    height: 43px;
    background-color: #968989;
    position: absolute;
    margin: 460px 0 0 197px;
    border-radius: 34px;

}

.iphoneHorizontalActiveZone{
    width: 47px;
    height: 43px;
    background-color: #968989;
    position: absolute;
    margin: 261px 0 0 430px;
    border-radius: 34px;
}
.iphoneHorizontalScreen{
    width: 333px;
    height: 188px;
    background-color: #000000;
    position: absolute;
    margin: 188px 0 0 485px;

}





.bordered{
    border: 2px solid yellowgreen;
    width: 216px;
    height: 183px;
}