/* ALL */
@font-face{
    font-family:Lato;
    font-style:normal;
    font-weight:500;
    src:url(../singolo/assets/fonts/Lato/Lato-Light.ttf) 
}
 @font-face{
    font-family:Lato-bold;
    font-style:normal;
    font-weight:500;
    src:url(../singolo/assets/fonts/Lato/Lato-Black.ttf) 
}   
*{
    margin: 0;
    padding: 0;
}
html, body{
    max-width: 1020px;
    scroll-behavior: smooth;
    margin: 0 auto;
}
.content{
    overflow-x: hidden;
    
    height: 100%;
    min-height: 100%;
}
h1{
    font-size: 24px;
    line-height: 6px;
    color: #ffffff;
    font-family: "Lato";
}

h2{
    font-family: "Lato-bold";
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    color: #666D89;
    padding: 1rem;
    padding: 59px 0 0 40px;
}
h3{
    font-family: "Lato-bold";
    font-weight: 900;
    font-size: 18px;
    line-height: 18px;
    color: #666D89;
}
h4{
    font-family: "Lato-bold";
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    color: #F0D8D9;
    padding: 60px 0 0 40px;
}
h5{
    font-family: "Lato";
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #767E9E;
    padding: 20px 40px 0 40px;
    text-align: justify;
}
p{
    text-align: justify;
}
.opacity{
    opacity: 0;
}
/* HEADER */
header{
    position: fixed;
    width: 1020px;
    padding: 0;
}
.header__bottom{
    height: 6px;
    background-color: #323746;
}
.header{
    background-color: #2D303A;
    height: 89px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}
.header__menu{
    margin: 0px -15px -7px 0px;
}
.header__star{
    color: #f06c64;
}
.header__menu li{
    list-style-type: none;
}
.header__menu a{
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    margin: 15px;
    font-size: 12px;
    font-family: "Lato";
    font-weight: 700;
    letter-spacing: -0.1px;
}
.header__menu a.active{
    color: #f06c64;
}
.header__menu a:not(.active):hover{
    cursor: pointer;
    color: #f06c64;
}
.header__menu ul{
    display: flex;
}
.header__logotype1{
    display: none;
}
/* SLIDER */
.box{
    height: 95px;
    width: 100%;
}
.slider{
    scroll-margin-top: 100px;
    width: 100%;
    height: 594px;
    background-color: #F06C64;
    transition: all ease 0.5s;
}
.slider__bottom{
    width: 100%;
    height: 6px;
    background-color: #EA676B;
    transition: all ease 0.5s;
}
.slider__mainZone{
    display: grid;
    grid-template-columns: 9% 81% 10%;
    height: 101%;
}
.bar{
    width: 40px;
    height: 40px;
    align-self: center;
    justify-self: center;
    cursor: pointer;
}
.leftBar{
    background: url(../singolo/assets/images/chev.png);
    background-repeat: no-repeat;
    background-position: center;
}
.leftBar:hover{
    background: url(../singolo/assets/images/leftBar.png);
    background-repeat: no-repeat;
    background-position: center;
}
.rightBar{
    background: url(../singolo/assets/images/right.png);
    background-repeat: no-repeat;
    background-position: center;
}
.rightBar:hover{
    background: url(../singolo/assets/images/rightDark.png);
    background-repeat: no-repeat;
    background-position: center;
}
.image__vertical{
    width: 40%;
    height: 100%;
    transition: all ease 0s;
}
.image__horizontal{
    width: 60%;
    height: 100%;
    transition: all ease 0s;
}
.iphoneVertical{
    width: 65%;
    height: 77%;
    margin: 16% 0rem 0rem 6%;
    box-shadow: 2vw 2vw 0 rgba(10,9,10,0.16);
    border-radius: 2vw;
    background-image: url(../singolo/assets/images/verticalPhone.png);
    background-size: 100% 100%;
}
.iphoneVerticalActiveScreen{
    width: 57%;
    height: 55.8%;
    background-color: #000000;
    margin: -119.8% 0rem 0rem 10.1%;
}
.iphoneVerticalActiveZone{
    width: 14%;
    height: 7%;
    background-color: #968989;
    margin: 2% 0 0 32%;
    border-radius: 50%;
}
.iphoneHorizontal{
    width: 92%;
    height: 35.6%;
    margin: 36% 0rem 0rem 1%;
    box-shadow: 2vw 2vw 0px 0px rgba(10,9,10,0.16);
    border-radius: 2vw;
    background-image: url(../singolo/assets/images/HorizontalPhone.png);
    background-size: 100%;
}
.iphoneHorizontalActiveZone{
    width: 9%;
    height: 7%;
    background-color: #968989;
    margin: -23.5% 0rem 0rem 2.5%;
    border-radius: 50%;
}
.iphoneHorizontalScreen{
    width: 66.8%;
    height: 31.5%;
    background-color: #000000;
    margin: -40.5% 0rem 0rem 13.2%;
}
.slide2{
    float: left;
    width: 50%;
    height: 100%;
    margin: 0% 0 0 0%;
    background-size: cover;
    background-image: url(../singolo/assets/images/Slide-2.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.slide1{
    float: left;
    width: 50%;
    height: 100%;
    margin: 0% 0 0 0%;
    display: flex;
}
.slider__displayZone{
    /* width: 827px;
    height: 600px; */
    overflow: hidden;
}
.polosa{
    width: 200%;
    height: 100%;
    position: inherit;
    display: block;
    margin-left: 0;
    transition: all ease 0.5s;
}
.left{
    margin-left: -826px;
}
.polosa::after {
    content: "";
    display: block;
    clear: both;
}
/* SERVICES */
.services{
    scroll-margin-top: 80px;
    width: 100%;
    background-color: #F2F2F2;
}
.services__bottom{
    width: 100%;
    height: 6px;
    background-color: #FFFFFF;
}
.services__flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 3.6%;
    width: 93.4%;
    padding-right: 3%;
    padding-left: 37px;
}
.services__container{
    display: flex;
    width: 300px;
    height: 100px;
    margin: 1% 0% 4% 0%;
}
.services-info{
    width: 220px;
    height: 77px;
    padding-left: 20px;
}
.services-info h3{
    padding-top: 8px;
}
.services-info p{
    font-family: "Lato";
    font-size: 12px;
    line-height: 22px;
    text-align: justify;
    color: #767E9E;
    padding-top: 12px;
}
.image{
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: all 0.5s;
    background-repeat: no-repeat;
    background-position: center;
}
.services-image1{
    background-image: url(../singolo/assets/images/pen.png);
}
.services-image2{
    background-image: url(../singolo/assets/images/bulb.png);
}
.services-image3{
    background-image: url(../singolo/assets/images/Heart.png);
}
.services-image4{
    background-image: url(../singolo/assets/images/Phone.png);
}
.services-image5{
    background-image: url(../singolo/assets/images/Bubble.png);
}
.services-image6{
    background-image: url(../singolo/assets/images/Star.png);
}

/* PORTFOLIO */
.portfolio{
    width: 100%;
    height: 864px;
    background-color: #2D303A;
    scroll-margin-top: 80px;
}
.portfolio__bottom{
    width: 100%;
    height: 6px;
    background-color: #323746;
}
.portfolio__menu li{
    border-radius: 5px;
    background-color: #0f0f0f;
    border: 1px solid #767E9E;
    text-decoration: none;
    margin: 0 9px 0 0;
    font-size: 12px;
    font-family: "Lato";
    font-weight: 700;
    line-height: 22px;
    color: #767e9e;
    list-style-type: none;
    margin: 0 13px 0 0;
    padding: 0 5px;
}
.portfolio__menu li.active{
    color: #c5c5c5;
    background-color: #2d303a;
}
.portfolio__menu li:not(.active):hover{
    color: #c5c5c5;
    background-color: #2d303a;
}
.portfolio__menu ul{
    display: flex;
}
.portfolio__menu{
    margin: 8px 40px;
}
.portfolio__flex{
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    height: 72%;
    margin: 0px 0 0 28px;
    padding-bottom: 60px;
}
.img{
    width: 22.71%;
    height: 30.07%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 10px;
    background-size: cover;
}
.image1{
    background-image: url(../singolo/assets/images/portfolio/portfolio-1.png);
}
.image2{
    background-image: url(../singolo/assets/images/portfolio/portfolio-2.png);
}
.image3{
    background-image: url(../singolo/assets/images/portfolio/portfolio-3.png);
}
.image4{
    background-image: url(../singolo/assets/images/portfolio/portfolio-4.png);
}
.image5{
    background-image: url(../singolo/assets/images/portfolio/portfolio-5.png);
}
.image6{
    background-image: url(../singolo/assets/images/portfolio/portfolio-6.png);
}
.image7{
    background-image: url(../singolo/assets/images/portfolio/portfolio-7.png);
}
.image8{
    background-image: url(../singolo/assets/images/portfolio/portfolio-8.png);
}
.image9{
    background-image: url(../singolo/assets/images/portfolio/portfolio-9.png);
}
.image10{
    background-image: url(../singolo/assets/images/portfolio/portfolio-10.png);
}
.image11{
    background-image: url(../singolo/assets/images/portfolio/portfolio-11.png);
}
.image12{
    background-image: url(../singolo/assets/images/portfolio/portfolio-12.png);
}
.img:nth-child(n + 13) {
    display: none;
  }
.bordered{
    outline: 5px solid #F06C64;
}
/* ABOUT US */
.aboutus{
    width: 100%;
    height: 727px;
    background-color: #F2F2F2;
    scroll-margin-top: 80px;
}
.aboutus__bottom{
    width: 100%;
    height: 6px;
    background-color: #FFFFFF;
}
.aboutus__adepts{
    display: grid;
    grid-template-columns: 34% 34% 34%;
    width: 92%;
    height: 65%;
    padding: 40px 40px 0 40px;
}
.aboutus__container p{
    padding: 0 20px 0 0;
}
.foto{
    width: 94%;
    height: 64%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.aboutus_foto1{
    background-image: url(../singolo/assets/images/photo\ \(2\).png);
}
.aboutus_foto2{
    background-image: url(../singolo/assets/images/photo\ \(1\).png);
}
.aboutus_foto3{
    background-image: url(../singolo/assets/images/photo.png);
}
.aboutus__container h3{
    margin: 1.1rem 0 0 0;
}
.aboutus__container p{
    font-family: "Lato";
    font-size: 12px;
    line-height: 22px;
    text-align: justify;
    color: #767E9E;
    margin: 3% 5px 0 0;
    text-align: justify;
}
.aboutus__links{
    height: 33px;
    display: flex;
    flex-wrap: nowrap;
    margin: 1.4rem 0 0 0;
}
.social{
    width: 33px;
    height: 33px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 7px 0 0;
}
.fb{
    background-image: url(../singolo/assets/images/Facebook.png);
}
.fb:hover{
    background-image: url(../singolo/assets/images/facebook\ \(1\).png);
}
.google{
    background-image: url(../singolo/assets/images/Google.png);
}
.google:hover{
    background-image: url(../singolo/assets/images/google+.png);
}
.twitter{
    background-image: url(../singolo/assets/images/Twitter.png);
}
.twitter:hover{
    background-image: url(../singolo/assets/images/twitter\ \(1\).png);
}
.linkedIn{
    background-image: url(../singolo/assets/images/LinkedIn.png);
}
.linkedIn:hover{
    background-image: url(../singolo/assets/images/linkedin\ \(1\).png);
}
/* QOTE */
.qote{
    width: 100%;
    height: 648px;
    background-color: #F06C64;
}
.qote__bottom{
    width: 100%;
    height: 6px;
    background-color: #EA676B;
}
.qote__text{
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #F0D8D9;
    margin: 14px 40px 0 40px;
}
.qote__grid{
    display: grid;
    grid-template-columns: 69.7% 32.7%;
    width: 90%;
    height: 60%;
    padding: 3rem 0 0 40px;
}
.qote_inputs{
    cursor: pointer;
    width: 94.6%;
    height: 38px;
    border-radius: 5px;
    border: 0px solid #d6564f;
    background-color: #d6564f;
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato";
    margin: 0px 0px 16px 0px;
    padding: 0px 0px 0px 15px;
    letter-spacing: 0.1px;
}
.inputsTextArea{
    cursor: pointer;
    width: 94.6%;
    height: 152px;
    border-radius: 5px;
    border: 0px solid #d6564f;
    background-color: #d6564f;
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato";
    flex-wrap: wrap;
    padding: 7px 0px 0px 15px;
    resize: none;
    letter-spacing: 0.1px;
    word-spacing: 0px;
}
#button{
    width: 136px;
    height: 38px;
    background: #FBC65F;
    border: 5px solid #FBC65F;
    border-radius: 5px;
    margin: 10px 0 0 0px;
    font-family: "Lato";
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #886A30;
}
.qote-contactHeader{
    font-family: "Lato";
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 18px;
    color: #F0D8D9;
}
.qote_text{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    text-align: justify;
    color: #F0D8D9;
    margin-top: 8px;

}
.contactsTable{
    margin-top: 22px;
}
.contactsTable li{
    list-style: none;
}
.contactsTable a{
    display: flex;
    text-decoration: none;
    font-family: "Lato";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    text-align: justify;
    color: #F0D8D9;
}
.little_links{
    margin-right: 3px;
    margin-left: 2px;
    background-repeat: no-repeat;
    background-position: left;
    width: 20px;
    height: 20px;
}
.location{
    background-image: url(../singolo/assets/images/location.png);
}
.location:hover{
    background-image: url(../singolo/assets/images/location\ \(1\).png);
}
.phone{
    background-image: url(../singolo/assets/images/phone\ \(1\).png);
}
.phone:hover{
    background-image: url(../singolo/assets/images/phone\ \(2\).png);
}
.mail{
    background-image: url(../singolo/assets/images/mail.png);
}
.mail:hover{
    background-image: url(../singolo/assets/images/mail\ \(1\).png);
}
/* MESAGE BLOCK */
.messageBlock{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #0008;
}
.hiden{
    display: none;
}
.message{
    background: #F0D8D9;
    position: absolute;
    top: 20%;
    left: 5%;
    border: 1PX solid black;
    text-align: center;
    border-radius: 15px;
    max-width: 75vw;
}
.message p{
    font-family: "Lato";
    font-size: 18px;
    color: rgb(33, 33, 34);
    width: 90%;
    padding: 1% 0;
    text-align: center;
    word-wrap: break-word;
    padding: 5% 5%;
}
#closeButton{
    width: 25vw;
    height: 5vw;
    font-family: "Lato-bolt";
    font-size: 32px;
    color: #2e2c2c;
    border-radius: 10px;
    padding: 0% 0 -11% 0;
    margin-bottom: 2vw;
    background-color: #f48c8f;
}
/* FOOTER */
.footer{
    width: 100%;
    height: 76px;
    background-color: #2D303A;
}
.footer__grid{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 33% 42% 23%;
}
.footer__lable{
    align-items: center;
    align-self: center;
    margin-left: 40px;
}
.footer__lable p{
    font-family: "Lato";
    font-style: normal;
    font-weight: 900;
    font-size: 13px;
    line-height: 18px;
    color: #666D89;
}
.footer__contacts{
    display: flex;
    align-items: center;
    align-self: center;
}

@media (max-width: 1020px) {
    /* header{
        width: 1020px;
    } */
    html, body{
        width: 100%;
    }
    header{
        width: 100%;
    }
    .slider{
        height: 56.9vw;
    }
    .portfolio{
        width: 100%;
        height: auto ;
    }
    .img{
        flex: 1 0 25%;
       width: auto;
       height: 24vw;

    }
    .img::before{
        content: "";
        float:left;
        padding-top: 100%;
        
    }
    .foto{
        width: 28.39vw;
      height: 28.39vw;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
       
    }
    .aboutus{
        height: auto;
        
    }
    .left{
        margin-left: -80vw;
    }
    .iphoneVerticalActiveScreen{
        width: 18.6vw;
        height: 32.4vw;
        margin: -38vw 0rem 0rem 3.2vw;
    }
    .iphoneHorizontalScreen{
        width: 32.5vw;
        height: 18.5vw;
        margin: -19.1vw 0rem 0rem 6.3vw;
    }
}
/* ------------------------------------------------------------------------- */

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .header{
        display: block;

    }
    .header__logotype{
        display: none;

    }
    .header__menu ul{
        display: none;
       
    }
    .header__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 24px;
    }
     .header__logotype1{
        display: inline-block;
        width: 60%;
    }
    .menu-btn{
        width: 50px;
        height: 50px;
        background-image: url(../singolo/assets/images/m-menu.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    h2{
        padding: 59px 0 0 30px;
    }
    h4{
       
        padding: 60px 0 0 30px;
    }
    h5{
        
        padding: 20px 25px 0 30px;
       
    }
    .services__flex {
      
        padding-left: 17px;
    }
    .portfolio__menu {
        width: 90%;
        margin: 8px 30px;
    }
    .portfolio__menu li {
        margin: 0 13px 0 0;
        padding: 0 3px;
    }
    .services-info {
        width: 220px;
        height: 77px;
        padding-left: 10px;
    }
    .img{
        flex: 1 0 34%;
       width: auto;
       height: 35vw;
       margin: 7.5px;
    }
    .portfolio__flex {
        
        width: 90%;
        height: 70%;
        margin: 0px 0 0 20px;
        padding-bottom: 35px;
    }
    .img:nth-child(n + 9) {
        display: none;
      }
      .aboutus__adepts {
        display: block;
        grid-template-columns: 100%;
        grid-template-rows: 90vw 90vw 90vw;
        width: 83%;
        height: 65%;
        padding: 10px 30px 10% 30px;
    }
    .aboutus__container{
        padding-top: 20px;
      
    }
    .foto{
        width: 83.52vw;
        height: 82.35vw;
        background-repeat: no-repeat;
        background-position: center;
        margin-left: auto;
        margin-right: auto;
        background-size: cover;
      
    }
    .aboutus{
        height: auto;
        
    }
    .aboutus__container p {
        font-family: "Lato";
        font-size: 12px;
        line-height: 22px;
        text-align: justify;
        color: #767E9E;
        margin: 3% 0px 0 0;
        text-align: justify;
        padding-right: 0;
    }

    .qote{
        width: 100%;
        height: auto;
        background-color: #F06C64;
    }
    .qote__text {
        font-family: "Lato";
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 30px;
        color: #F0D8D9;
        margin: 4% 14% 0 30px;
    }

    .qote__grid {
        display: block;
    width: 85%;
    padding: 2rem 30px 0 30px;
    }
    #button{
        width: -webkit-fill-available;
        margin-right: 3%;
    }
    .qote__contactInfo{
        margin: 32px 0 0 0;
        padding-bottom: 42px;
    }
    .footer__lable{
        display: none;
    }
    .footer__grid {
        display: block;
    }
    .footer__contacts {
        display: flex;
        align-items: center;
        align-self: center;
        justify-content: center;
        padding-top: 20px;
    }
    
}
/* --------------------------------------------------------------------- */
  .burger__menu{
    width: 278px;
    height: 100%;
    position: fixed;
    background-color: #2D303A;
    top: 89px;
    left: 0;
  }
  .not_display{
      display: none;
  }
  .burger__list ul li a{
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    
    font-family: "Lato";
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.035em;
    font-weight: 600;
  }
  .burger__list ul li a:hover{
    cursor: pointer;
    color: #f06c64;
}
.burger__list a.active{
    color: #f06c64;
}
.burger__list a:not(.active):hover{
    cursor: pointer;
    color: #f06c64;
}
  .burger__list ul li{
    list-style-type: none;
    margin-top: 27px;
  }
  .burger__list{
      height: 812px;
  }
  .burger__list ul{
    height: 812px;
    padding-top: 140px;
    padding-left: 71px;
}
.burgtr__allMenu{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #0008;
    margin-top: 89px;
}
.rotate{
    transform: rotate(90deg);
}
.moved{
    width: 90%;
}
@media (min-width: 768px) {
    .burgtr__allMenu{
        display: none;
    }
}

